<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= mytitle %></title>
    <style>
        input,button{
            font-size: 40px;
        }
    </style>
</head>
<body>

    <h1>what is your name?</h1>

    <form name="username" action="/" method="post">
        <input name="username" type="text" placeholder="input data">
        <br/>
        <br/>
        <button type="submit">send to DB</button>
    </form>

    <h1>your name is <%= arr.at(-1).username %> </h1>
     <!-- <%= arr.at(-1).username %> get the last element in array in database -->
    

</body>
</html>